<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Sign In!</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">

					<div class="form-card mt-3">

						<div th:if="${session.msg}" class="alert text-center"
							th:classappend="${session.msg.type}" role="alert">
							<p class="mb-0" th:text="${session.msg.content}"></p>
							<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
						</div>

						<div class="container text-center">
							<img alt="" style="width: 80px" th:src="@{/img/login.png}">
						</div>

						<h1 class="text-center">Login</h1>

						<form th:action="@{/do_login}" method="post">

							<div class="form-group">
								<label for="email_field">Email address</label> <input
									name="email" type="email" class="form-control" id="email_field"
									required placeholder="Enter your email">
							</div>

							<div class="form-group">
								<label for="password_field">Password</label> <input
									name="password" type="password" class="form-control"
									id="password_field" required placeholder="Enter your password">
							</div>

							<button type="submit" class="btn bg-primary text-white">Sign
								In</button>
							<button type="reset" class="btn bg-warning text-white">Clear</button>

							<div class="ml-auto mt-3">
								<a th:href="@{/forgetpassword}" class="badge badge-primary">Forgot
									Password ?</a> <a th:href="@{/register}"
									class="badge badge-secondary">Sign Up !</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>