<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Sign In!</title>
</head>
<body>
	<section>
		<div class="jumbotron text-center">
			<h1 class="display-4">WELCOME</h1>
			<p class="lead">Welcome to Ashok IT...Learn here lead anywhere.</p>
			<hr class="my-4">
			<p>Click below button to logout yourself.</p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Logout</a>
		</div>
	</section>

</body>
</html>