<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Sign In!</title>
</head>
<body>
	<section>
		<div class="jumbotron text-center">
			<h1 class="display-4">WELCOME</h1>
			<p class="lead">Welcome to Ashok IT...Learn here lead anywhere.</p>
			<table class="table table-sm col-md-4 offset-md-4 text-left"
				th:object="${session.user}">
				<tbody>
					<tr>
						<th scope="row">Name :</th>
						<td><span th:text="${session.user.firstName}"></span> <span
							th:text="${session.user.lastName}"></span></td>
					</tr>
					<tr>
						<th scope="row">Email :</th>
						<td th:text="${session.user.email}"></td>
					</tr>
					<tr>
						<th scope="row">Phone No. :</th>
						<td th:text="${session.user.phoneNo}"></td>
					</tr>
					<tr>
						<th scope="row">Date of Birth :</th>
						<td th:text="${session.user.dob}"></td>
					</tr>
					<tr>
						<th scope="row">Gender :</th>
						<td th:text="${session.user.gender}"></td>
					</tr>
					<tr>
						<th scope="row">Account Status :</th>
						<td th:text="${session.user.accountStatus}"></td>
					</tr>
				</tbody>
			</table>
			<hr class="my-4">
			<p>Click below button to logout yourself.</p>
			<a class="btn btn-primary btn-md" th:href="@{/logout}" role="button">Logout</a>
		</div>
	</section>

</body>
</html>